line-length = 120
indent-width = 4
target-version = "py311"

[lint]
select = [
    "E",
    "W",
    "F",
    "I",
    "B",
    "C4",
    "UP",
]

[format]
quote-style = "double"
indent-style = "space"
